body {
  background-color: rgba(42, 61, 56, 0.979);
  text-align: center;
}
#foto {
  border-radius: 70%;
  width: 500px;
  border: 10px solid 
}

.title-gray {
  color: gray;
  font-size: 30px;
  font-family: "Alice", serif;
  
}

h1 {
  font-family: "Titan One", cursive;
  font-size: 50px;
  letter-spacing: 4px;
}
p {
  font-family: "Alice", serif;
}


p {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
