*{
    margin: 0;
    padding: 0;
}

body {
    /* background: radial-gradient(#80FFDB, #5390D9) */
    background-image: linear-gradient(to right, #3d3b3f, #47185e, #5e0f5a);
    font-family: 'Roboto Slab', serif;
    
}

img {
    border-radius: 50%;
    border: #5e0f5a 5px solid;
    width: 400px;
}


.box-content{
    background-color: aqua;

}

#image {
    background-color: orange;
    width: 50%;
    float: left;
}

#about {
    background-color: green;
    width: 50%;
    float: right;
 
  
}
